<div class="main">
    <div class="box">
        <div class="image"><img src="../../assets/image/cenzor.png" alt="photo cenzor"></div>
        <h4>Angular list of prohibited words</h4>
        <input type="button" value="details" [routerLink] = "'/works/cenzor'">
    </div>
    <div class="box">
        <div class="image"><img src="../../assets/image/users.png" alt="photo users"></div>
        <h4>Angular users list</h4>
        <input type="button" value="details" [routerLink] = "'/works/userlist'">
    </div>
    <div class="box">
        <div class="image"><img src="../../assets/image/tasks.png" alt="photo tasks"></div>
        <h4>Angular tasks list</h4>
        <input type="button" value="details" [routerLink] = "'/works/tasklist'">
    </div>
</div>
